<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer">

    <!-- css -->
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">

    <!-- Vue -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body class="d-flex justify-content-center align-items-center">
    <div class="striscia-verde">
    </div>

    <div id="app">
        <div class="d-flex flex-basis">
            <aside class="d-flex flex-column flex-shrink-0">
                <div class="bg-body">
                    <div class="d-flex justify-content-between p-1 bg-grey border-end">
                        <div class="d-flex align-items-center ">
                            <div class="resize-img me-3">
                                <img src="img/avatar_io.jpg" alt="" class="rounded-circle">
                            </div>
                            <h5 class="mb-0">Sofia</h5>
                        </div>

                        <div class="d-flex align-items-center fs-4 ">
                            <i class="fa-solid fa-circle-notch ms-3 grey"></i>
                            <i class="fa-solid fa-message ms-3 grey"></i>
                            <i class="fa-solid fa-ellipsis-vertical ms-3 me-4 grey"></i>
                        </div>
                    </div>
                    <div class="notifiche d-flex p-2 align-items-center">
                        <div class="i-container rounded-circle me-2">
                            <i class="fa-solid fa-bell-slash fs-4"></i>
                        </div>
                        <div>
                            <div class="fw-semibold">Ricevi notifiche di nuovi messaggi</div>
                            <a href="" class="grey fs-6">Attiva notifiche desktop</a>
                        </div>
                    </div>
                    <div class="input-group border-bottom  p-1">
                        <span class="input-group-text" id="basic-addon1">
                                <i class="fa-solid fa-magnifying-glass"></i>
                        </span>
                        <input type="text" class="form-control" v-model="input" placeholder="Cerca o inizia una nuova chat" aria-label="Username" aria-describedby="basic-addon1">
                    </div>
                </div>

                <div class="overflow-auto bg-body">
                    <div class="d-flex p-2 border-bottom" v-for="(utente, i) in listaFiltrata" @click.native="utenteSelezionato = utente" >
                        <div class="resize-img me-2">
                            <img :src="`img/avatar${utente.avatar}.jpg`" alt="" class="rounded-circle">
                        </div>
                        <div class="w-100">
                            <div class="d-flex justify-content-between">
                                <h5 class="mb-0">{{utente.name}}</h5>
                                <span >{{utente.messages[utente.messages.length-1].date}}</span>
                            </div>
                            <div>Ultimo messaggio inviato</div>
                        </div>
                    </div>
                </div>
            </aside>

            <div class="w-100">
                <div class="d-flex justify-content-between p-1 bg-grey">
                    <div class="d-flex align-items-center">
                        <div class="resize-img me-3">
                            <img :src="`img/avatar${utenteSelezionato.avatar}.jpg`" alt="" class="rounded-circle ">
                        </div>
                        <div>
                            <h5 class="mb-0">{{utenteSelezionato.name}}</h5>
                        <div class="grey">Ultimo accesso {{utenteSelezionato.messages[utenteSelezionato.messages.length-1].date}}</div>
                        </div>
                    </div>

                    <div class="d-flex align-items-center fs-4 ">
                        <i class="fa-solid fa-magnifying-glass grey"></i>
                        <i class="fa-solid fa-paperclip grey ms-3"></i>
                        <i class="fa-solid fa-ellipsis-vertical ms-3 me-4 grey"></i>
                    </div>
                </div>

                <div class="message-holder p-3 overflow-auto">
                    <div class="mb-1 col-12 d-flex "  v-for="(messaggio, i) in utenteSelezionato.messages" :class="(messaggio.status=='sent') ? 'justify-content-end':''">
                        <div class="message flex-grow-0" :class="(messaggio.status=='sent') ? 'my-message':''">{{messaggio.message}}</div>
                    </div>
                </div>

                
                <div class="mb-3 p-2 d-flex align-items-center input-mess">
                    <div class="fs-5 ms-3 me-4">
                        <i class="fa-regular fa-face-smile grey"></i>
                    </div>
                    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)" v-model="messaggioScritto" @keyup.enter="newMessage">
                    <div class="fs-5 ms-4 me-3">
                        <i class="fa-solid fa-microphone grey"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="js/main.js" type="module"></script>
</body>
</html>